.container
	.col-md-9.col-md-offset-1
		%h1 Studs 2015
		Nu har äntligen anmälan för Studs 2015 öppnat! Innan ni skickar iväg era ansökningar kan det vara bra att läsa informationen som finns nedanför. 

		%h3 Vad är Studs?
		%p Studs (Studieresan) är ett projekt inom Datasektionen där en grupp studenter får chansen att träffa massor av företag och resa till USA i två veckor i juni 2015. Projektet är en kurs på 15hp (AI2151) som går på våren 2015 men kräver en hel del tid även nu under hösten. Syftet med projektet är att knyta kontakter inom företagsvärlden, uppleva hur det är att driva ett stort projekt samt att få uppleva ett annat land.Det kommer finnas ett antal tillfällen med obligatorisk närvaro, främst när det gäller företagsträffar, vilket kan vara värt att tänka på innan ansökan.

		%h3 Vad krävs för att söka till Studs?
		%p Du måste vara på slutet av din utbildning, dvs uppnått 180hp efter hösten 2014. Sen måste du ha möjlighet att kunna läsa en 15hp kurs på vårterminen.

		%h3 Vilka är ledningsgruppen?
		%p Studs ledningsgrupp är uppdelat så att det finns en projektledare, en vice projektledare, en ekonomiansvarig samt en ansvarig för varje grupp i projektet. 

		%h3 Vilka områden kan man söka till inom Studs?
		%ul
			%li
				%h4 Event
				%p Eventgruppen planerar tillsammans med företagen spännande event. Detta inkluderar företagsevent hos företag och företagspubbar i Meta. Eventgruppen är också ansvarig för att ge de företag som Studs hälsar på återkoppling.
			%li
				%h4 Sälj
				%p Säljgruppen ansvarar för all företagskontakt fram tills att Eventgruppen tar över. Det innebär att hitta, kontakta samt övertyga företagen om att Studs är en grym möjlighet för dem! Säljgruppen spikar också datum för eventen som ska passa bra för både studenter och företag. Mycket av det jobb som säljgruppen utför kommer att pågå under höstterminen (bl.a. möten en kväll i veckan), så se därför till att du inte är alltför uppbokad under denna tid.
			%li
				%h4 Resa
				%p Resegruppen ansvarar för att planera och boka resan. Detta inkluderar allt från flyg fram och tillbaka samt bussresor, hotell och restauranger. De har även kontakt med de företag och 
				skolor som vi kommer att besöka utomlands.
				%br
			%li
				%h4 Rapport
				%p Rapportgruppen ansvarar för all text som ska upp på hemsidan samt den slutliga inlämningen dvs rapporten om själva resan. Arbetet med rapporten kommer att inkludera allt från layout och innehåll till fotografering under kursens gång. Om man funderar på att söka till rapportgruppen kan det vara bra att man känner sig bekväm med att skriva på engelska eftersom nästan allt material kommer att vara skrivet på engelska. 
			%li
				%h4 IT
				%p IT-gruppen ansvarar först och främst för utveckling och underhåll av hemsidan, som är byggd i Ruby on Rails. Gruppen kommer även att stå för projektets grafiska profil. Här är det bra om man har erfarenhet av webbutveckling i allmänhet och Ruby on Rails i synnerhet, samt kunskaper i till exempel Photoshop och ett intresse för design.
			%li
				%h4 Art director
				%p Utöver de andra grupperna söker vi även en Art director som kommer ta fram Studs 2015s grafiska profil tillsammans med IT. AD bör vara duktig på grafik och webbdesign men måste framförallt vara kreativ nog för att ta fram en snygg och proffsig grafisk profil för projektet.

		%h2 Ansökan
		%p Ansökan är öppen från 18e augusti fram till och med 21a september. På eftermiddagen den 24e september är det första stormötet, så boka upp dig redan nu.


		%br
		%a.btn.btn-primary.btn-xlarge{ :href => 'https://docs.google.com/forms/d/1cinU9-D66f6dAH7VefuxX2x8ZNzWw2GIy96fC44WNzc/viewform', :target => 'blank' } Sök!
		%br
		%br
		%b

		Hör gärna av dig om du har några frågor om projektet!
		%br
		%br
		%b Andreas Johansson
		%br
		Projektledare Studs 2015
		%br
		studs-ansvarig@d.kth.se
		%br
		0704245454