.container
	.col-md-9.col-md-offset-1
		%a{ :href => 'ansokan'} Svensk version
		%h1 Studs 2015
		You can now finally apply to Studs 2015! But before you send off your applications to Studs 2015, please read the information below.

		%h3 What is Studs?
		%p Studs is a project within the computer science section at KTH, where a group of students get the chance to meet loads of relevant companies and go on a two week trip in june 2015 to the USA. The project is a course called AI2151 and is worth 15hp. The course officially runs during the spring of 2015, but requires some attendance already during the autumn of 2014. The main purpose of the project is to establish a network with the companies involved, experience how it is to carry out a large project and of course the opportunity to experience a new country. There are going to be several obligatory events, which is worth considering before applying.

		%h3 What is required in order to apply to Studs?
		%p You have to been at the end of your education and have achieved a minimum of 180hp after the autumn of 2014. You must also have the possibility to take a 15hp course during the spring of 2015. Basic Swedish communication skills are required since most or all company presentations will be held in Swedish. An academic level of writing in Swedish is not necessary however, since the website and report will be written in English. 


		%h3 Who is included in the management group?
		%p Studs is divided so that there is one project leader, a vice project leader, one finance manager and finally one manager for each of the under groups of the project.

		%h3 Which areas can you apply to within Studs?
		%ul
			%li
				%h4 Event
				%p The event group plan interesting events together with the companies involved. This includes event at the companies locations as well as events at KTH.  Finally the event group is also responsible for giving the company, which the group visits, feedback from the event.
			%li
				%h4 Sales
				%p The sales group are responsible for the all the contact with the companies until the event group takes over. This includes finding companies and convincing them that Studs is a great opportunity for them. The sales group also decides the dates for the company events, which suit both the company and the students. Most of the work that the sales group does, is completed during the autumn period and thus one should make sure before applying that one has time available for this work.
			%li
				%h4 Travel
				%p The travel group are responsible for planning and booking the trip to the USA. This includes everything from the flights back and forth, to the bus rides and restaurant visits. The travel group is also responsible for keeping in contact will all the companies and school that are visited during the trip.
			%li
				%h4 Report
				%p The report group is responsible for all the written material that goes up on the webpage as well as the final assignment which is a report on the trip. The work with the report includes everything from text and layout work as well as photography and picture editing. If one considers to apply to the report group, then it is very important that one is comfortable with writing in English as most of the written material will be in English.
			%li
				%h4 IT
				%p The main responsibility of the IT group is the maintenance and development of the Studs website, which is built using Ruby on Rails. The group will also be creating the graphical profile for the project. An experience with web applications and Ruby on Rails is favoured and an interest for design would be beneficial.
			%li
				%h4 Art director
				%p Studs will also require an art director who will be responsible for the project’s graphical profile together with the IT group. The art director must have some experience with web design and graphics but most importantly be creative enough to create a professional graphical profile for the project.

		%h2 Application
		%p Applications are accepted from the 18th of August to the 21st of September. The first complete project meeting will be held on the 24th of September sometime during the afternoon, so please book this date already.


		%br
		%a.btn.btn-primary.btn-xlarge{ :href => 'https://docs.google.com/forms/d/1cinU9-D66f6dAH7VefuxX2x8ZNzWw2GIy96fC44WNzc/viewform', :target => 'blank' } Apply!
		%br
		%br
		%b

		Please feel free to contact me if you have any further questions concerning Studs.
		%br
		%br
		%b Andreas Johansson
		%br
		Projektledare Studs 2015
		%br
		studs-ansvarig@d.kth.se
		%br
		0704245454