- active_menu :contact

%div
  %h1 Projektledare
  %h2 Charlie Lindviken
  %dl
    %dt Telefon:
    %dd +46 (0)70 211 34 57
    %dt E-post:
    %dd
      = mail_to 'lindvi@kth.se'

%div
  %h1 Säljchef
  %h2 Simon Ström
  %dl
    %dt Telefon:
    %dd +46 (0)739 59 09 87
    %dt E-post:
    %dd
      = mail_to 'simstr@kth.se'

%div
  %h1 Eventchef
  %h2 Tim Malmström
  %dl
    %dt Telefon:
    %dd +46 (0)73 322 74 69
    %dt E-post:
    %dd
      = mail_to 'tjma@kth.se'
