- active_menu :resumes

.dialog.delete
  %h2= t_model_action()
  %p= t('actions.delete_prompt_html', type: t('models.the.file'), name: @file.to_s)
  .actions
    = action_link :cancel, files_path
    = button_to t('actions.delete'), files_path(@file), method: :delete , :class => :destroy
