%a.no-link-style{ :href => url_for(:controller=>'posts', :action=>'feed') }
	- unless post.post_image.blank?
		= image_tag post.post_image.image, :class => 'front-page-featured-image'
	%h2= post.title
	.post-teaser
		= markdown post.content
