- active_menu :posts
= render partial: '/flash', locals: { flash: flash }
.container
  .row
    .col-md-8.col-md-offset-2
      %h2<
        = t_model_action :post, :edit

      = render partial: 'form'
