- active_menu :newsfeed
.thin-header.vertical-segment
  #blog-circle.circle.yellow
    %h1.centered= t '.heading'
.container
  .row
    .col-md-7.col-md-offset-1
      - @posts.each do |post|
        %a{name: post.id, class: 'anchor'}
        .post
          = render post
          %a.read-more-open
            =t('.readmore')
            %i.fa.fa-arrow-circle-o-down.pull-right
          %a.read-more-close.hide
            =t('.close')
            %i.fa.fa-times-circle.pull-right
    .col-md-2
      #behind-the-blog-circle.circle.cerise.vertical-segment
        %h1=t('.info-heading')
        %div.centered=t('.info-text')
      / %br
      / .vertical-segment.centered
      /   %img#blog-responsible-image{ :src => image_path("mattis.jpg")}
      /   %p.text-center#blog-responsible-text=t('.info-responsible')
