- active_menu :newsfeed
.posts-header
  .container
    .row
      .col-md-8.col-md-offset-1
        %h1=t('.heading')
.container
  .row
    .col-md-7.col-md-offset-1
      - @posts.each do |post|
        .post
          = render post
          %a.read-more{ :href => '#' + post.id.to_s }
            =t('.readmore')
            %i.fa.fa-arrow-circle-o-down.pull-right
    .col-md-3
      %h1=t('.info-heading')
      %p=t('.info-text')
      %br
      %p
        %img.img-responsive.img-rounded{ :src => image_path("mattis.jpg")}
      %p.text-center=t('.info-responsible')