%p#notice= notice

.container
  .row
    .col-md-8.col-md-offset-2
      .post
        = render @post
        - if can? :manage, Post
          = link_to t('actions.edit'), edit_post_path(@post)
          \|
          = link_to 'Back', posts_path
