- active_menu :resumes

.dialog.delete
  %h2= t_model_action()
  %p= t('actions.delete_prompt_html', type: t('models.the.resume'), name: @resume.to_s)
  .actions
    = action_link :cancel, @resume
    = button_to t('actions.delete'), @resume, method: :delete , :class => :destroy
