- active_menu :resumes
.full
  %h2<
    = t('actions.edit_type', type: t('models.a.resume'))
    - if can? :read, Resume
      = link_to t('actions.cancel'), [@resume], :class => :action

  = render partial: 'form'
