- active_menu :resumes
.thin-header.vertical-segment
  #resumes-circle.circle.yellow.centered
    %h1.centered= t '.title'
%a.btn.btn-primary.centered#download-button{ :href => resumes_path(format: :zip, :params => params)}
  %i.fa.fa-download
  = t('actions.download_all')
.container
  .row
    .col-md-8.col-md-offset-2.col-xs-12
      = render partial: 'grid'
