- active_menu :resumes
.container
  .row
    .col-md-offset-1
      .col-md-4
        %h2
          = t '.title'
        %p
          = t '.body_html'
      .col-md-6
        = render partial: 'session/form'